@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    padding: 1%;
    margin: 0;
    background-image: url(./assets/background.jpg);
    font-family: 'Fira Sans', sans-serif;
}

header {
    position: sticky;
    top: -10%;
}


header img {
    width: 20%;
    margin: auto;
    display: block;
}

h1 {
    display: none;
}

.navList {
    display: inline;
    font-size: 1.5em;
    padding: 0.5% 2%;
}


.navList a {
    text-decoration: none;
    color: white;
}

.navListRef:hover {
    background-image: url(./assets/navBackground.jpg);
}

.anuncio {
    color: rgb(128, 122, 122);
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    background-image: url(./assets/anuncioBackground.jpg);
}

.popular,
.noPopular {
    display: flex;
}

.imgPopular,
.imgNoPopular {
    width: 30%;
    height: 25%;
}

.descripcionPopular,
.descripcionNoPopular {
    display: flex;
}

.pDescripcion {
    background-color: rgb(39, 38, 38);
    margin: 1%;
}

.divContacto {
    background-color: white;
}

.contacto {
    background-color: white;
    color: black;
    display: inline;
    text-align: center;
    margin: auto;
}

h2,
h3,
p,
input,
.terminosYcondiciones,
.TyC,
.registrar {
    font-size: 1.0em;
    color: white;
}

label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    background-image: url(./assets/labeloBackground.jgp.jpg);
}

.registrar {
    background-image: url(./assets/navBackground.jpg);
}

.registrar:hover {
    background-image: url(./assets/background.jpg);
}