@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&family=Finger+Paint&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

h1 {
    display: none;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: lightcoral;
    width: 100%;
}

.navBar li,
nav a {
    text-decoration: none;
    color: lightblue;
    font-family: 'Pacifico', cursive;
}


.navBar {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 1.5em;
}

nav a {
    margin: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

main {
    padding: 8%;
    background-color: rgb(223, 221, 221);
    
}

.anuncio {
    border-radius: 25px;
    text-align: center;
    font-size: 2em;
    background-color: lightgreen;
    font-family: 'Sigmar One', cursive;
}

p {
    color: white;
    font-size: 1em;
}

h2 {
    font-size: 1.7em;
    font-family: serif;
}

.popular,
.noPopular {
    display: flex;
}

.imgPopular,
.imgNoPopular {
    padding: 1.7%;
    width: 30%;
    height: 25%;
    display: flex;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    transition: transform .2s;
    cursor: pointer;
}

img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.descripcionPopular,
.descripcionNoPopular {
    display: flex;
}

.pDescripcion {
    width: 30%;
    background-color: rgb(39, 38, 38);
    padding: 5%;
    border-radius: 25px;
    font-family: 'Outfit', sans-serif;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(95, 150, 150);
    color: white;
    text-align: center;
    font-family: 'Arvo', serif;
}

article {
    border-radius: 1;
    background-color: bisque;
    padding: 1%;
    margin: 1%;
}

.tYc {
    border-radius: 1%;
    background-color: bisque;
    padding: 2%;
    margin: 0%;
}

.terminosYcondiciones {
    padding: 1%;
}

.terminosYcondiciones {
    text-decoration: none;
}

article p {
    color: black;
}

form ,
.h2 {
    border-radius: 1%;
    padding: 1%;
    background-color: cornflowerblue;
}

label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
